<h1>Listing Files</h1>

<%= if @live_action in [:new, :edit] do %>
  <.modal return_to={Routes.file_index_path(@socket, :index)}>
    <.live_component
      module={DataNetWeb.FileLive.FormComponent}
      id={@file.id || :new}
      title={@page_title}
      action={@live_action}
      file={@file}
      return_to={Routes.file_index_path(@socket, :index)}
    />
  </.modal>
<% end %>

<table >
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="files">
    <%= for file <- @files do %>
      <tr id={"file-#{file.id}"}>
        <td class="pr-8">
          <%= file.name %>
        </td>

        <td class="flex">
          <span>
            <%= live_redirect to: Routes.file_show_path(@socket, :show, file) do %>
            <.icon_info />
            <% end %>
          </span>
          <span>
            <%= live_patch to: Routes.file_index_path(@socket, :edit, file) do %>
            <.icon_edit />
            <% end %>
          </span>
          <span>
            <%= link to: "#", phx_click: "delete",
                phx_value_id: file.id, data: [confirm: "Are you sure?"] do %>
            <.icon_delete />
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span>
  <%= live_patch to: Routes.file_index_path(@socket, :new) do %>
  <.icon_new />
  <% end %>
</span>
